terraform {
  required_version = ">= 0.12.0"
  required_providers {
{% for resource in terraform|selectattr("provider", "equalto", "linode") %}
{% if loop.last %}
    linode = {
      source = "linode/linode"
    }
{% endif %}
{% endfor %}
    local = ">= 1.2"
  }
}
{% for resource in terraform|selectattr("provider", "equalto", "linode") %}
{% if loop.last %}
provider "linode" {
  token = var.linode_token
}
{% endif %}
{% endfor %}